@charset "utf-8";
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/iconfont.woff2') format('woff2'),
      url('../fonts/iconfont.woff') format('woff'),
      url('../fonts/iconfont.ttf') format('truetype'),
      url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
  color: #333;
  background: #e9eaed;
  line-height: 1.5;
  overflow-x: hidden;
}
ul, li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: none;
}
.navbox {
  width: 1200px;
  margin: auto;
}
.clear {
  clear: both;
  overflow: hiddeen;
  width: 100%;
  height: 20px;
}
/* header */
/* 导航栏 开始 */
header {
  width: 100%;
  padding: 5px 0;
  background-color: #1c2327;
  height: 50px;
}
header::before {
  content: "";
  height: 5px;
  position: absolute;
  top: 0;
  width: 100%;
  background: #000 linear-gradient(to left, #4cd964,#5ac8fa,#007aff,#34aadc,#5856d6,#ff2d55);
}
.logo {
  float: left;
  font-size: 22px;
  margin-right: 60px;
  line-height: 50px;
  color: #fff;
}
.logo a {
    color: #fff;
}
/* nav */
nav {
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
#starlist li {
  float: left;
  display: inline;
  margin-right: 40px;
  position: relative;
  width: auto;
}
#starlist li a {
  color: #fff;
  float: left;
  padding: 0 5px;
}
/* 先这么处理 第一个设为这个颜色 */
#starlist  li:first-child a {
  color: #00c1de;
}
#starlist  li:hover a {
  color: #00c1de;
}
#starlist ul.sub {
  display: none;
  overflow: hidden;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 50px;
  background-color: #1c2327;
}
#starlist ul.sub li {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
#starlist ul.sub li a {
    color: #fff;
}
#starlist ul.sub li:last-child {
  padding-bottom: 10px;
}
#starlist ul.sub li a:hover {
  color: #00c1de;
}
#starlist li:hover ul.sub {
  display: block;
}
/* 箭头 */
.menu span {
  color: #ccc;
  font-size: 10px;
  margin: 1px 0 0 2px;
}
.menu:hover span{
  transform: rotate(180deg);
}
/* 搜索栏 开始 */
.searchico,
.iconfont {
  float: right;
  margin-top: 12px;
  font-size: 20px;
  color: #fff;
}
.searchbox {
  position: relative;
  width: 1200px;
  margin: 10px auto;
  background-color: #fff;
  overflow: hidden;
}
.search {
  width: 50%;
  margin: 20px auto;
  position: relative;
  border: 1px solid #ccc;
  background-color: #222;
  border-radius: 3px;
  display: none;
}
.open {
  display: block !important;
}
.search input.input_text {
  height: 36px;
  line-height: 36px;
  border: 0;
  width: 72%;
  padding-left: 10px;
}
.search input.input_submit {
  position: absolute;
  height: 36px;
  line-height: 36px;
  top: 0;
  right: 0;
  background-color: #222;
  color: #fff;
  border: 0;
  width: 28%;
}
.searchbox .iconfont {
  color: #666;
  position: absolute;
  top: -32px;
  right: -328px;
  font-size: 24px;
}
/* 搜索栏 结束 */
/* 导航栏 结束 */
/* article 开始*/
/* lbox */
/* 轮播图 开始 */
article {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.lbox {
  width: 75%;
  float:left;
  overflow: hidden;
}
.banbox {
  width: 616px;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  float: left;
}
.screen {
  height: 260px;
  width: 616px;
  position: relative;
}
.screen ul {
  width: 3080px;
  height: 260px;
  position: absolute;
  left: 0;
  top: 0;
}
.screen li {
  float: left;
  width: 616px;
  top: 0;
}
.screen .slide img {
  width: 100%;
  height: 260px;
  margin: auto;
}
.screen .fader_controls {
  display: block;
}
.screen .prev, .screen .next {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  z-index: 999;
  opacity: 0;
  font-weight: 200;
  margin: 0;
  transition: all 150ms;
}
.screen .next {
  left: auto;
  right: 50px;
}
.screen ol {
  width: 100px;
  height: 26px;
  position: absolute;
  padding: 0;
  line-height: 26px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  text-align: center;
  z-index: 999;
  /* display: none; */
}
.screen ol li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 7px;
  background-color: #ccc;
  cursor: pointer;
  display: inline-block;
  transition: all 150ms;
  margin-bottom: 15px;
}
.screen ol li.current {
  background: #12b7de;
}
.screen ol li:hover {
  opacity: 1;
  background: #12b7de;
}
.banbox:hover .screen .prev {
  opacity: 0.7;
  left: 20px;
}
.banbox:hover .screen .next {
  opacity: 0.7;
  right: 20px;
}
/* 轮播图结束 */
/* 右侧的 headline 开始 */
.headline {
  width: 30%;
  float: right;
  overflow: hidden;
}
.headline ul {
  height: 260px;
}
.headline ul li {
  width: 100%;
  background-color: #000;
  overflow: hidden;
  height: 125px;
  margin-bottom: 10px;
  border-radius: 3px;
  position: relative;
}
.headline ul li a {
    display: block;
    overflow: hidden;
    height: 100%;
}
.headline ul li img {
  width: 100%;
  height: 100%;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  transition: all 0.5s;
  opacity: 0.7;
}
.headline ul li:hover img {
  transform: scale(1.1);
  opacity: 1;
}
.headline ul li span {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 15px;
  text-align: center;
}
/* 右侧的 headline 结束 */
/* tab_box 开始*/
.clearfloat {
  clear: both;
  overflow: hidden;
  width: 100%;
}
/* 公共样式背景颜色 */
.whitebg {
    background:#fff;
    border-radius:3px;
    padding:20px;
    margin-bottom:20px;
    overflow:hidden;
}
.tab_box {
  clear: both;
  position: relative;
}
.tab_buttons {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  border-bottom: 1px solid #e4e3e3;
}
.tab_buttons li {
  display: block;
  font-size: 16px;
  width: 100px;
  line-height: 40px;
  text-align: center;
  float: left;
  cursor: pointer;
  position: relative;
}
.newscurrent::after {
  content: "";
  background-color: #000;
  width: 100px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.newsitem {
  display: none;
}
.newsitem:nth-child(1) {
  display: block;
}
.newspic {
  float: left;
  width: 32%;
  height: 218px;
  overflow: hidden;
  position: relative;
}
.newspic ul {
  overflow: hidden;
}
.newspic li {
  height: 100px;
  background-color: rgba(0, 0, 0, 1);
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 3px;
  position: relative;
}
.newspic li a {
  display: block;
  overflow: hidden;
}
.newspic img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: all 0.5s ease;
}
.newspic span {
  position: absolute;
  bottom: 30%;
  left: 0;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 0 40px;
  text-overflow: ellipsis;
  line-height: 22px;
  overflow: hidden;
}
.newspic li:hover img {
  transform: scale(1.1);
  opacity: 0.9;
}
.newslist {
  float: right;
  width: 66%;
  /* overflow: hidden; */
}
.newslist li {
  overflow: hidden;
  height: 22px;
  line-height: 32px;
  padding: 0 20px 10px 20px;
}
.newslist li a {
  height: 32px;
}
.newslist p {
  /* width: 100%; */
  line-height: 24px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 48px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}
.newslist li:hover {
  height: 100%;
  background-color: #f7f7f7;
}
.newslist li:hover a {
    color: #000;
    font-weight: bold;
}
.newslist li:hover i {
  background-color: #222;
}
.newslist li:nth-child(1) {
  height: 100%;
  background: #f7f7f7;
}
.newslist li:nth-child(1)  a {
  color: #000;
  font-weight: bold;
}
.newslist:hover li:nth-child(1) i {
    background: #9a9a9a;
}
.newslist:hover li:nth-child(1) {
    height: 22px;
    background: none;
}
.newslist:hover li:nth-child(1) a{
    font-weight: normal;
}
.newslist:hover li:nth-child(1):hover {
    height: 100%;
    background: #f7f7f7;
}
.newslist:hover li:nth-child(1):hover a {
    color: #000;
    font-weight: bold;
}
.newslist:hover li:nth-child(1):hover i {
    background: #222;
}
.newslist li i {
  display: block;
  width: 20px;
  height: 20px;
  background: #9a9a9a;
  float: left;
  margin-top: 6px;
  margin-right: 20px;
  position: relative;
  font-style: normal;
}
.newslist li i::before {
  position: absolute;
  color: #fff;
  left: 0;
  top: 0;
  font-size: 10px;
  line-height: 20px;
  width: 20px;
  text-align: center;
}
.newslist li:first-child i {
  background:#222;
}
.newslist li:first-child i::before {
  content:"1";
}
.newslist li:nth-child(2) i::before {
  content:"2";
}
.newslist li:nth-child(3) i::before {
  content:"3";
}
.newslist li:nth-child(4) i::before {
  content:"4";
}
.newslist li:nth-child(5) i::before {
  content:"5";
}
/* tab_box 结束*/
/* zhuanti 开始 */
/* 可复用的类样式 */
.htitle {
  font-size: 16px;
  border-bottom: 1px solid #eee;
  line-height: 40px;
  font-weight: normal;
  color: #484848;
  margin-bottom: 10px;
  position: relative;
}
.htitle::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #000;
  transition: all 0.5s ease;
}
.htitle:hover::after {
  width: 100px;
}
.hnav {
  float: right;
}
.hnav a {
  display: block;
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  position: relative;
}
.hnav a::after {
  content: "/";
  position: relative;
  right: -10px;
  bottom: 0;
  color: #ccc;
}
.hnav a:last-child::after {
  content: ""
}
.zhuanti ul {
  overflow: hidden;
  padding: 10px 0 20px 10px;
  position: relative;
}
.zhuanti ul::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 1px;
  height: 100%;
  left: 10px;
}
.zhuanti ul::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 20px;
}
.zhuanti li {
  float: left;
  width: 27.6%;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  padding: 20px;
  transition: all 0.5s ease;
}
.ztpic {
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: block;
  background: #ccc;
  border-radius: 3px;
}
.ztpic img {
  width: 100%;
  min-height: 100%;
  display: inline-block;
  height: auto;
  vertical-align:middle;
  transition: all 0.5s ease;
}
.zhuanti li b {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  margin: 10px 0;
}
.zhuanti li span {
  font-size: 14px;
  height: 62px;
  color: #999;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-int-clamp: 3;
  display: -webkit-box;
}
.readmore {
  color: #096;
  display: block;
  margin-top: 10px;
}
.readmore::before {
  content: "+";
  color: #063;
}
.zhuanti li:hover {
  box-shadow: #ccc 1px 1px 8px;
  background-color: #fff;
}
.zhuanti li:hover img {
  transform: scale(1.05)
}
/* zhuanti 结束 */
.tupian img{
  width: 100%;
}
/* blogtitle 开始 */
.blogtitle {
  font-size: 18px;
  margin-bottom: 10px;
  overflow: hidden;
}
.blogtitle b {
  color: #f00;
}
.bloglist ul {
  padding-top: 10px;
}
.bloglist li {
  overflow: hidden;
  margin-bottom: 20px;
  border-bottom: 1px dashed #eee;
  padding-bottom: 20px;
  position:relative;
}
.bloglist li:hover .blogtitle a{
  color: #337ab7;
}
.bplist {
  display: block;
  overflow: hidden;
}
.bplist a {
  display: block;
  float: left;
  width: 25%;
  overflow: hidden;
}
.bplist a img {
  border-radius: 3px;
  width: 200px;
  heigth: 140px;
  transition: all 0.5s ease;
}
.bplist a img:hover {
  transform: scale(1.05);
}
.blogpic {
  float: left;
  width: 23.2%;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  display: block;
}
.blogpic i {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  display: block;
  font-style: normal;
  padding: 3px 5px;
  background: rgba(18,182,221,0.8);
  font-size: 14px;
}
.blogpic i a {
  color:#FFF
}
a.viewmore {
	display: block;
	right: 10px;
	bottom: 20px;
	position: absolute;
	padding: 3px 10px;
	background: #12b7de;
	color: #fff;
	border-radius: 3px;
}
.imgscale img {
	width: 100%;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	transition: all 0.5s;
}
.imgscale:hover img {
	transform: scale(1.1);
}

.blogtext {
  font-size: 14px;
  color: #666;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  margin-top: 20px;
}
.bloginfo {
  margin-top: 20px;
  overflow: hidden;
  line-height: 34px;
  color: #999;
}
.bloginfo span {
  margin: 0 5px;
}
.bloginfo span a {
  color: #096;
}
.avatar {
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  padding: 2px;
  background: -webkit-linear-gradient(bottom left,rgba(0,153,255,.9),rgba(42,228,197,.7));
	/* background: -o-linear-gradient(bottom left,rgba(0,153,255,.9),rgba(42,228,197,.7)); */
	background: linear-gradient(to top right,rgba(0,153,255,.9),rgba(42,228,197,.7));
}
.avatar img {
  width: 100%;
  border-radius: 50%;
}
.avatar::after {
  content: "";
  position: absolute;
  background: url("../images/v.png") no-repeat;
  background-size: 12px;
  width: 12px;
  height: 12px;
  right: 0;
  bottom: 0;
}
/* blogtitle 结束 */
/*rbox 开始*/
.rbox {
    width: 23.5%;
    float: right;
    overflow: hidden;
}
/* card 我的名片 开始 */
.card {
    /* box-shadow:0px 1px 0px rgba(255,255,255,.1),inset 0px 1px 1px rgba(0,0,0,.7); */
    border-radius:3px;
    background:url(../images/quote-bg.png) no-repeat top right rgba(42,42,42,1);
    height:260px;
    overflow:hidden;
    margin-bottom:20px
}
.card h2 {
    font-size:22px;
    margin:10px;
    color:#89919a;
    font-weight:normal;
    padding-bottom:10px;
}
.card p {
    font-size:12px;
    padding:0 0 0 20px;
    line-height:28px;
    /* text-shadow:0px 1px 2px rgba(0,0,0,.5); */
    color:#d0d2d4;
    /* -webkit-animation:animations2 5s ease-in-out 5s;
    -moz-animation:animations2 5s ease-in-out 5s;
    -o-animation:animations2 5s ease-in-out 5s;
    -ms-animation:animations2 5s ease-in-out 5s;
    animation:animations2 5s ease-in-out 5s; */
}
.linkmore {
    margin: 15px;
}
.linkmore li {
    width: 25%;
    float: left;
}
.linkmore li a {
    height:53px;
    width: 53px;
    display:block;
    overflow:hidden;
    box-shadow:0px 1px 0px rgba(255,255,255,.1),inset 0px 1px 1px rgba(0,0,0,.7);
    border-radius:50%;
    margin:0 5px;
}
.linkmore li a:hover {
    opacity:0.5;
}
a.iconfont.icon-zhuye {
    color:#ef5509;
    font-size: 30px;
    text-align: center;
    line-height: 53px;
}
a.iconfont.icon-youxiang {
    color: #FF991A;
    font-size: 32px;
    text-align: center;
    line-height: 53px;
}
a.iconfont.icon--- {
    color: #1296DB;
    font-size: 32px;
    text-align: center;
    line-height: 57px;
}
a.iconfont.icon-weixin {
    color: #07AF12;
    font-size: 32px;
    text-align: center;
    line-height: 53px;
}
#tim {
  position: relative;
}
#tim i {
  display: block;
  position: absolute;
  bottom: 55px;
  right: -45px;
}
#tim i img {
  height: 100px;
  display: none;
}
#tim:hover i img {
  display: block;
}
#weixin {
    position:relative
}
#weixin i {
    display: block;
    position: absolute;
    bottom: 55px;
    right: 10px;
}
#weixin i img {
    height: 100px;
    display: none
}
#weixin:hover i img {
    display: block
}
/* card 我的名片 结束 */
/* notice 网站公告开始 */
.notice ul{
  padding-top: 18px;
}
.notice li {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  font-size: 12px;
  line-height: 30px;
  border-radius: 3px;
  margin-bottom: 12px;
  background:#f6f6f6;
  padding: 4px 12px 4px 30px;
  transition: all 0.2 ease;
}
.notice li::before {
  content: "";
  width: 3px;
  height: 3px;
  position: absolute;
  left: 15px;
  top: 50%;
  border: 1px solid #000;
  border-radius: 50%;
  background: #000;
}
.notice li:hover {
  box-shadow: 1px 1px 8px #ccc;
  transition: all 0.3s ease;
  background: #f2f2f2;
}
/* notice 网站公告结束 */
/* paihang 排行开始 */
.topnews {
  display: block;
  margin: 20px 0;
  background: #000;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  max-height: 110px;
}
.topnews img {
  opacity: 0.7;
  transition: all 0.5 ease;
}
.topnews span {
	position: absolute;
	bottom: 30%;
	left: 0;
	color: #FFF;
	text-align: center;
	font-size: 15px;
	padding: 0 40px;
	overflow: hidden;
	line-height:22px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.topnews:hover img {
  transform: scale(1.1);
  opacity: 0.9;
}
.paihang ul {
  overflow: hidden;
}
.paihang ul li {
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  padding-left: 5px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.paihang ul li:hover {
	-moz-transition:all .2s ease;
	-webkit-transition:all .2s ease;
	transition:all .2s ease;
}
.paihang ul li:nth-child(even) {
  background: #f6f6f6;
}
.paihang ul li i {
  display: block;
  width: 16px;
  height: 16px;
  font-style: normal;
  background: #b1b1b1;
  float: left;
  position: relative;
  margin: 8px 10px 0 0;

}
.paihang ul li i::before {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 9px;
  color: #fff;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}
.paihang ul li:first-child i, .paihang ul li:nth-child(2) i, .paihang ul li:nth-child(3) i {
  background: #ff6600;
}
.paihang ul li:first-child i::before {
  content: "1";
}
.paihang ul li:nth-child(2) i::before {
  content: "2";
}
.paihang ul li:nth-child(3) i::before {
  content: "3";
}
.paihang ul li:nth-child(4) i::before {
  content: "4";
}
.paihang ul li:nth-child(5) i::before {
  content: "5";
}
.paihang ul li:nth-child(6) i::before {
  content: "6";
}
.paihang ul li:nth-child(7) i::before {
  content: "7";
}
.paihang ul li:last-child i::before {
  content: "8";
}
/* paihang 排行结束 */
/* tuijian 推荐开始 */
.tuijian ul {
  overflow: hidden;
  padding-top: 10px;
}
.tuijian ul li {
  overflow: hidden;
  margin-bottom: 10px;
  height: 60px;
}
.tuijian ul li i {
  width: 70px;
  height: 70px;
  display: block;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}
.tuijian li i img {
  width: 100%;
  transition: all 0.5s ease;
}
.tuijian li:hover i img {
  transform: scale(1.1);
}
.tuijian li p {
  margin-top: 10px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.tuijian li:hover {
	background: #f6f6f6;
}
/* tuijian 推荐结束 */
/* 广告开始  */
.ad ul {
  overflow: hidden;
  border-right: 3px;
}
/* 广告结束  */
/* wenzi 文字开始 */
.wenzi li {
  line-height: 22px;
  position: relative;
  margin-bottom: 10px;
  padding-left: 15px;
}
.wenzi li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 3px;
  height: 3px;
  background: #000;
}
/* wenzi 文字结束 */
/* tongji 统计开始 */
.tongji li {
  margin-bottom: 10px;
}
.tongji li a {
	color: #096
}
.tongji li a:hover {
	text-decoration: underline;
	color: #000;
}
.tongji img {
	/* width: 100%; */
	margin-left: 40px;
	overflow: hidden;
}
/* tongji 统计结束 */
/* rbox结束 */
/* article 结束 */
/* footer 开始 */
footer {
  width: 100%;
  background: #373D41;
  border-top:#00C1DE 10px solid;
  font-size: 14px;
  padding: 30px 0;
  color: #73777a;
}
.box {
  width: 1200px;
  margin: 0 auto;
}
.wxbox {
  float: left;
  overflow: hidden;
  margin-right: 20px;
}
.wxbox li {
  width: 110px;
  float: left;
  text-align: center;
  margin: 0 10px;
}
.wxbox img {
	height: 100px;
}
.endnav b {
	font-size: 16px;
	color: #00c1de;
}
.endnav p {
	margin-bottom: 5px;
}
footer a {
	color: #73777a;
}
footer a:hover {
	color: #00C1DE;
}
.top {
  width: 40px;
  height: 40px;
  background: url("../images/top.png") no-repeat center #000;
  position: fixed;
  right: 20px;
  bottom: 10%;
  display: block;
}
/* footer 结束 */
/* index.html 结束 */
/* list.html 开始 */
.lanmu img {
  float: left;
  height: 100px;
  margin-right: 20px;
}
.lanmu h1 {
  margin-bottom: 15px;
  font-size: 22px;
}
.lanmu p {
  color: #666;
}
/* list.html 结束 */
/* list2.html 开始 */

/* list2.html 结束 */
